@model SlotsViewModel
<h2>Select the student to delete their appointment for: </h2>
<section>
    <div class="tutor">
        <form method="post" action="@Url.Action("DeleteSelectedAppointment", "Home")">
            @Html.DropDownListFor(m => m.studentUsernameList, new SelectList(Model.studentUsernameList))
            @Html.DropDownListFor(m => m.TutorUserName, new SelectList(Model.TutorUserName))
            <button type="submit">Select this Tutor and Student</button>
        </form>
    </div>
</section>
@if (Model.Requests != null && Model.Requests.Count > 0)
{
    <h2>Choose an appointment to delete</h2>
    <ul>
        @if(Model.Requests.Count >0)
        {
        @for (int i = 0; i < Model.Requests.Count; i += 2)
        {
            <li>
                <form method="post" action="@Url.Action("CancelAppointment", "Home")">
                    <input type="hidden" name="StudentUserName" value="@Model.StudentUserName" />
                    <input type="hidden" name="Name" value="@Model.Name" />
                    <input type="hidden" name="Requests" value="@Model.Requests[i]" />
                    @if (i + 1 < Model.Requests.Count)
                    {
                        <input type="hidden" name="Requests" value="@Model.Requests[i + 1]" />
                        <button type="submit">@Model.Requests[i] - @Model.Requests[i + 1]</button>
                    }
                    else
                    {
                        <button type="submit">@Model.Requests[i]</button>
                    }
                </form>
            </li>
            }
        }
        else
        {
        <p>No Booked Appointments</p>    
        }
    </ul>
}
